@model IEnumerable<SalesForce.Models.Company.Company>

@{
    ViewBag.Title = "Index";
}


<div style="padding-left: 300px;padding-top: 100px">

    <table id="example" class="table table-striped table-bordered" style="width: 100%">
        <thead>
            <tr>
                <th>Company Id</th>
                <th>Company Name</th>
                <th>Short Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <button onclick="location.href = '@Url.Action("Create","Company")'" class="data-btn btn btn-success" type="button"><i class="fa fa-save"></i> Create</button>
                    <button onclick="location.href='@Url.Action("Edit","Company",new { CompanyId = item.CompanyId})'" class="data-btn btn btn-dark" type="button"><i class="fa fa-edit"></i>Edit</button>
                    <button onclick="location.href='@Url.Action("Delete","Company",new { CompanyId = item.CompanyId})'" class="data-btn btn btn-danger" type="button"><i class="fa fa-trash"></i> Delete</button>

                </td>
            </tr>
                }

            }
        </tbody>
    </table>

</div>

<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>